*.o
build
bin
*.tar.gz
*.rpm
*.deb
*.bz2
*.gz
src/github.com/alecthomas/gozmq
nacl.public
nacl.secret
.logstash-forwarder
.lumberjack.new
.rbx
logstash-forwarder
*.DS_Store
*.idea
*.iml
*.crt
*.key
vendor/
.bundle/
build/
.idea
.gradle
*.iml
*.class
*.ipr
*.iws
log4j2.xml_bk
Gemfile.lock
lib/logstash-input-beats_jars.rb
